.movies-list-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.movies-counter {
    margin-left: 10px;
    margin-top: 20px;
}

.movies {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.empty-movies-list {
    margin-left: auto;
    margin-top: 50px;
    width: 60%;
}