.movie-poster {
    position: relative;
    width: 300px;
}

.movie-title-row {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    padding-top: 5px;
}
